# CI values for Mission-control.

# If this is an upgrade over an existing Mission Control 4.x, explicitly pass 'unifiedUpgradeAllowed=true' to upgrade
unifiedUpgradeAllowed: true
databaseUpgradeReady: true
missionControl:
  jfrogUrl: http://artifactory-artifactory.rt:8082
  image:
    version: 4.4.1
  javaOpts:
    other: "-server -XX:+UseG1GC -Dfile.encoding=UTF8"
    xms: "500m"
    xmx: "1000m"

insightServer:
  image:
    version: 4.4.1

insightScheduler:
  image:
    version: 4.4.1
  javaOpts:
    xms: "500m"
    xmx: "1000m"

postgresql:
  image:
    tag: 9.6.15-debian-9-r91
  postgresqlPassword: password
  db:
    password: password
