# Leave this file empty to ensure that CI runs builds against the default configuration in values.yaml.
# If this is an upgrade over an existing Xray 3.x, explicitly pass 'unifiedUpgradeAllowed=true' to upgrade.
unifiedUpgradeAllowed: true
databaseUpgradeReady: true
xray:
  jfrogUrl: http://rt-artifactory.rt:8082
common:
  persistence:
    enabled: false
# To Fix ct tool --reuse-values - PASSWORDS ERROR: you must provide your current passwords when upgrade the release
postgresql:
  auth:
    # jfrog-ignore
    password: "password1"
  primary:
    persistence:
      enabled: false

rabbitmq:
  auth:
    username: guest
    password: rabbitmqpass
  persistence:
    enabled: false

server:
  resources:
    requests:
      memory: "300Mi"
      cpu: "100m"
    limits:
      memory: "4Gi"
      cpu: "3"

analysis:
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "3"

persist:
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "3"

indexer:
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "4"

sbom:
  enabled: true
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "3"

panoramic:
  enabled: false
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "3"


policyenforcer:
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "3"