# CI values for Xray
# If this is an upgrade over an existing Xray 3.x, explicitly pass 'unifiedUpgradeAllowed=true' to upgrade.
unifiedUpgradeAllowed: true
databaseUpgradeReady: true
xray:
  jfrogUrl: http://artifactory-artifactory.rt:8082

postgresql:
  postgresqlPassword: xray

rabbitmq-ha:
  enabled: false

rabbitmq:
  enabled: true
  replicaCount: 3
  auth:
    username: guest
    password: password
