# CI values for Xray
# If this is an upgrade over an existing Xray 3.x, explicitly pass 'unifiedUpgradeAllowed=true' to upgrade.
unifiedUpgradeAllowed: true
databaseUpgradeReady: true
xray:
  jfrogUrl: http://artifactory-artifactory.rt:8082

postgresql:
  postgressqlDatabase: xraydb
  postgresqlUser: xray
  postgresqlPassword: xray
  persistence:
    enabled: false

rabbitmq-ha:
  rabbitmqUsername: guest
  rabbitmqPassword: guest
  persistentVolume:
    enabled: false
