{{ if .Values.vault.configMaps }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pipelines.vault.name" .  }}-configmaps
  labels:
    {{- include "pipelines.labels" . | nindent 4 }}
data:
{{ tpl .Values.vault.configMaps . | nindent 2 }}
{{ end -}}
