{{- if .Values.nginx.enabled -}}
{{- $serviceName := include "artifactory.fullname" . -}}
{{- $servicePort := .Values.artifactory.externalPort -}}
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "artifactory.nginx.fullname" . }}
  labels:
    app: {{ template "artifactory.name" . }}
    chart: {{ template "artifactory.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    component: {{ .Values.nginx.name }}
spec:
  replicas: {{ .Values.nginx.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "artifactory.name" . }}
      release: {{ .Release.Name }}
      component: {{ .Values.nginx.name }}
  template:
    metadata:
      labels:
        app: {{ template "artifactory.name" . }}
        component: {{ .Values.nginx.name }}
        release: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ template "artifactory.serviceAccountName" . }}
    {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ .Values.imagePullSecrets }}
    {{- end }}
      initContainers:
    {{- if .Values.nginx.persistence.enabled }}
      - name: "remove-lost-found"
        image: "{{ .Values.initContainerImage }}"
        imagePullPolicy: {{ .Values.nginx.image.pullPolicy }}
        command:
        - '/bin/sh'
        - '-c'
        - 'rm -rfv {{ .Values.nginx.persistence.mountPath }}/lost+found'
        volumeMounts:
        - mountPath: {{ .Values.nginx.persistence.mountPath | quote }}
          name: nginx-volume
    {{- end }}
      - name: "wait-for-artifactory"
        image: "{{ .Values.initContainerImage }}"
        command:
        - 'sh'
        - '-c'
        - >
          until nc -z -w 2 {{ $serviceName }} {{ $servicePort }} && echo artifactory ok; do
            sleep 2;
          done;
      securityContext:
        runAsUser: {{ .Values.nginx.uid }}
        fsGroup: {{ .Values.nginx.gid }}
      containers:
      - name: {{ .Values.nginx.name }}
        image: '{{ .Values.nginx.image.repository }}:{{ default .Chart.AppVersion .Values.nginx.image.version }}'
        imagePullPolicy: {{ .Values.nginx.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.nginx.internalPortHttp }}
        - containerPort: {{ .Values.nginx.internalPortHttps }}
        {{- if .Values.artifactory.replicator.enabled }}
        - containerPort: {{ .Values.nginx.internalPortReplicator }}
        {{- end }}
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
        - name: nginx-cache
          mountPath: /var/cache/nginx
        - name: nginx-volume
          mountPath: {{ .Values.nginx.persistence.mountPath | quote }}
        {{- if .Values.nginx.customConfigMap }}
        - name: custom-nginx-config
        {{- else }}
        - name: nginx-config
        {{- end }}
          mountPath: "/etc/nginx/nginx.conf"
          subPath: "nginx.conf"
        {{- if .Values.nginx.customArtifactoryConfigMap }}
        - name: custom-artifactory-nginx-config
          mountPath: "/etc/nginx/conf.d/custom"
        {{- else }}
        - name: nginx-config
          mountPath: "/etc/nginx/conf.d/artifactory.conf"
          subPath: artifactory.conf
        {{- end }}
        {{- if .Values.artifactory.replicator.enabled }}
        - name: nginx-config
          mountPath: "/etc/nginx/conf.d/replicator-nginx.conf"
          subPath: replicator-nginx.conf
        {{- end }}
        - name: ssl-secret-volume
          mountPath: "/var/opt/jfrog/nginx/ssl"
        resources:
{{ toYaml .Values.nginx.resources | indent 10 }}
        {{- if .Values.nginx.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: {{ .Values.nginx.readinessProbe.path }}
            port: 80
          initialDelaySeconds: {{ .Values.nginx.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.nginx.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.nginx.readinessProbe.timeoutSeconds }}
          failureThreshold: {{ .Values.nginx.readinessProbe.failureThreshold }}
          successThreshold: {{ .Values.nginx.readinessProbe.successThreshold }}
        {{- end }}
        {{- if .Values.nginx.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: {{ .Values.nginx.livenessProbe.path }}
            port: 80
          initialDelaySeconds: {{ .Values.nginx.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.nginx.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.nginx.livenessProbe.timeoutSeconds }}
          failureThreshold: {{ .Values.nginx.livenessProbe.failureThreshold }}
          successThreshold: {{ .Values.nginx.livenessProbe.successThreshold }}
        {{- end }}
      {{- $image := .Values.logger.image.repository }}
      {{- $tag := .Values.logger.image.tag }}
      {{- $mountPath := .Values.nginx.persistence.mountPath }}
      {{- range .Values.nginx.loggers }}
      - name: {{ . | replace "_" "-" | replace "." "-" }}
        image: {{ $image }}
        tag: {{ $tag }}
        command:
        - tail
        args:
        - "-F"
        - "{{ $mountPath }}/logs/{{ . }}"
        volumeMounts:
        - name: nginx-volume
          mountPath: {{ $mountPath }}
      {{- end }}
    {{- with .Values.nginx.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.nginx.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.nginx.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      volumes:
      - name: nginx-config
        configMap:
          name: {{ template "artifactory.fullname" . }}-nginx-config
      {{- if .Values.nginx.customArtifactoryConfigMap }}
      - name: custom-artifactory-nginx-config
        configMap:
          name: {{ .Values.nginx.customArtifactoryConfigMap }}
      {{- end}}
      {{- if .Values.nginx.customConfigMap }}
      - name: custom-nginx-config
        configMap:
          name: {{ .Values.nginx.customConfigMap }}
      {{- end }}
      - name: nginx-volume
      {{- if .Values.nginx.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ .Values.nginx.persistence.existingClaim | default (include "artifactory.nginx.fullname" .) }}
      {{- else }}
        emptyDir: {}
      {{- end }}
      - name: nginx-cache
        emptyDir: {}
      - name: ssl-secret-volume
        secret:
      {{- if .Values.nginx.tlsSecretName }}
          secretName: {{ .Values.nginx.tlsSecretName }}
      {{- else }}
          secretName: {{ template "artifactory.fullname" . }}-nginx-certificate
      {{- end }}
{{- end }}
