# CI values for Pipelines
databaseUpgradeReady: true
pipelines:
  jfrogUrl: http://artifactory.rt:8082
  jfrogUrlUI: http://artifactory.rt:8082

  api:
    externalUrl: http://pipelines.test.com

  www:
    externalUrl: http://pipelines.test.com

  msg:
    uiUserPassword: password

postgresql:
  postgresqlPassword: password

rabbitmq:
  auth:
    password: password
