# CI values for Pipelines
databaseUpgradeReady: true
global:
  versions:
    pipelines: 1.14.1
  jfrogUrl: http://artifactory-artifactory.rt:8082
  jfrogUrlUI: http://artifactory-artifactory.rt:8082
pipelines:
  api:
    externalUrl: http://pipelines.test.com

  www:
    externalUrl: http://pipelines.test.com

  msg:
    uiUserPassword: password

postgresql:
  postgresqlPassword: password

rabbitmq:
  auth:
    password: password
