# CI values for Pipelines
databaseUpgradeReady: true
pipelines:
  jfrogUrl: http://artifactory.rt:8082
  jfrogUrlUI: http://artifactory.rt:8082
  replicaCount: 2

  api:
    externalUrl: http://pipelines.test.com

  msg:
    uiUserPassword: password

postgresql:
  postgresqlPassword: password
  persistence:
    enabled: false

rabbitmq:
  replicaCount: 3
  auth:
    password: password
  persistence:
    enabled: false

redis:
  master:
    persistence:
      enabled: false
