# CI values for Pipelines
databaseUpgradeReady: true
pipelines:
  jfrogUrl: http://artifactory.rt:8082
  jfrogUrlUI: http://artifactory.rt:8082

  api:
    externalUrl: http://pipelines.test.com

  msg:
    uiUserPassword: password

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: 70

postgresql:
  postgresqlPassword: password
  persistence:
    enabled: false

rabbitmq:
  auth:
    password: password
  persistence:
    enabled: false

redis:
  master:
    persistence:
      enabled: false
