replicaCount: 2
common:
  persistence:
    size: 100Gi
rabbitmq:
  replicaCount: 3
  memoryHighWatermark:
    enabled: true
    type: "absolute"
    value: 700MB
  maxAvailableSchedulers: "1"
  onlineSchedulers: "1"
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1Gi"
      cpu: "1"

postgresql:
  postgresqlExtendedConf:
    maxConnections: "200"
  resources:
    requests:
      memory: "1Gi"
      cpu: "1"
    limits:
      memory: "2Gi"
      cpu: "2"

server:
  resources:
    requests:
      memory: "300Mi"
      cpu: "100m"
    limits:
      memory: "4Gi"
      cpu: "3"

analysis:
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "3"

persist:
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "3"

indexer:
  resources:
    requests:
      memory: "300Mi"
      cpu: "50m"
    limits:
      memory: "4Gi"
      cpu: "4"
