unifiedUpgradeAllowed: true
databaseUpgradeReady: true
postgresql:
  postgresqlPassword: password
  persistence:
    enabled: false
redis:
  persistence:
    enabled: false
distribution:
  persistence:
    enabled: false
global:
  jfrogUrl: http://artifactory.rt:8082
  masterKey: BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
  joinKey: EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
  customInitContainersBegin: |
   - name: "custom-init-begin-global"
     image: "{{ .Values.initContainerImage }}"
     imagePullPolicy: "{{ .Values.imagePullPolicy }}"
     command:
       - 'sh'
       - '-c'
       - 'touch {{ .Values.distribution.persistence.mountPath }}/init-begin-global'
     volumeMounts:
       - mountPath: "{{ .Values.distribution.persistence.mountPath }}"
         name: distribution-data
  customVolumes: |
   - name: custom-volume-global
     emptyDir:
       sizeLimit: 100Mi
  customVolumeMounts: |
   - name: custom-volume-global
     mountPath: "/scriptsglobal"
  customInitContainers: |
   - name: "custom-init-global"
     image: "{{ .Values.initContainerImage }}"
     imagePullPolicy: "{{ .Values.imagePullPolicy }}"
     command:
       - 'sh'
       - '-c'
       - 'touch {{ .Values.distribution.persistence.mountPath }}/init-global'
     volumeMounts:
       - mountPath: "{{ .Values.distribution.persistence.mountPath }}"
         name: distribution-data
  customSidecarContainers: |
   - name: "sidecar-list-global"
     image: "{{ .Values.initContainerImage }}"
     imagePullPolicy: "{{ .Values.imagePullPolicy }}"
     securityContext:
       allowPrivilegeEscalation: false
       capabilities:
         drop:
           - NET_RAW
     command: ["sh","-c","echo 'Sidecar is running in global' >> /scriptsglobal/sidecar.txt; cat /scriptsglobal/sidecar.txt; while true; do sleep 30; done"]
     volumeMounts:
       - mountPath: "/scriptsglobal"
         name: custom-volume-global
     resources:
       requests:
         memory: "32Mi"
         cpu: "50m"
       limits:
         memory: "128Mi"
         cpu: "100m"

common:
  customInitContainersBegin: |
   - name: "custom-init-begin-local"
     image: "{{ .Values.initContainerImage }}"
     imagePullPolicy: "{{ .Values.imagePullPolicy }}"
     command:
       - 'sh'
       - '-c'
       - 'touch {{ .Values.distribution.persistence.mountPath }}/init-begin-local'
     volumeMounts:
       - mountPath: "{{ .Values.distribution.persistence.mountPath }}"
         name: distribution-data
  customVolumes: |
   - name: custom-volume-local
     emptyDir:
       sizeLimit: 100Mi
  customVolumeMounts: |
   - name: custom-volume-local
     mountPath: "/scriptslocal"
  customInitContainers: |
   - name: "custom-init-local"
     image: "{{ .Values.initContainerImage }}"
     imagePullPolicy: "{{ .Values.imagePullPolicy }}"
     command:
       - 'sh'
       - '-c'
       - 'touch {{ .Values.distribution.persistence.mountPath }}/init-local'
     volumeMounts:
       - mountPath: "{{ .Values.distribution.persistence.mountPath }}"
         name: distribution-data
  customSidecarContainers: |
   - name: "sidecar-list-local"
     image: "{{ .Values.initContainerImage }}"
     imagePullPolicy: "{{ .Values.imagePullPolicy }}"
     securityContext:
       allowPrivilegeEscalation: false
       capabilities:
         drop:
           - NET_RAW
     command: ["sh","-c","echo 'Sidecar is running in local' >> /scriptslocal/sidecar.txt; cat /scriptslocal/sidecar.txt; while true; do sleep 30; done"]
     volumeMounts:
       - mountPath: "/scriptslocal"
         name: custom-volume-local
     resources:
       requests:
         memory: "32Mi"
         cpu: "50m"
       limits:
         memory: "128Mi"
         cpu: "100m"
