# CI values for Distribution

# replicaCount: 2
# rbac:
#   create: false
#
# serviceAccount:
#   create: false

# If this is an upgrade over an existing Distribution 2.x, explicitly pass 'unifiedUpgradeAllowed=true' to upgrade
unifiedUpgradeAllowed: true
databaseUpgradeReady: true
postgresql:
  postgresqlPassword: password
  persistence:
    enabled: false

redis:
  password: "password"
  persistence:
    enabled: false

distribution:
  jfrogUrl: http://artifactory.rt:8082
  persistence:
    enabled: false
  # loggers:
  #   - access.log
  #   - request.log

# Init containers
initContainers:
  resources:
    requests:
      memory: "64Mi"
      cpu: "10m"
    limits:
      memory: "128Mi"
      cpu: "250m"
rbac:
  create: true
serviceAccount:
  create: true
  automountServiceAccountToken: true
