initContainers:
  resources:
    requests:
      memory: "64Mi"
      cpu: "10m"
    limits:
      memory: "128Mi"
      cpu: "250m"
elasticsearch:
  resources:
    requests:
      memory: "4Gi"
      cpu: "500m"
    limits:
      memory: "4Gi"
      cpu: "1"
  ## ElasticSearch xms and xmx should be same!
  javaOpts:
    xms: "3g"
    xmx: "3g"

insightServer:
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "2Gi"
      cpu: "1"
  javaOpts:
    xms: "512m"
    xmx: "2g"

insightScheduler:
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "2Gi"
      cpu: "1"
  javaOpts:
    xms: "512m"
    xmx: "2g"
