# Default values for jfrog-platform.

# nameOverride:
# fullnameOverride:

global:
  # imagePullSecrets:
  #   - myRegistryKeySecretName
  imageRegistry: docker.bintray.io
  ## Set this flag to false, if you are using artifactory chart.
  haEnabled: true
  jfrogUrl: '{{ include "jfrog-platform.jfrogUrl" . }}'
  jfrogUrlUI: '{{ include "jfrog-platform.jfrogUrl" . }}'
  joinKey: EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
  masterKey: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
  database:
    host: "{{ .Release.Name }}-postgresql"
    port: 5432
    sslMode: disable
    adminUsername: postgres
    adminPassword: postgres
    secrets: {}
      # adminUsername:
      #   name: "jp-database-creds"
      #   key: "db-admin-user"
      # adminPassword:
      #   name: "jp-database-creds"
      #   key: "db-admin-password"
    initContainerSetupDBImage: docker.bintray.io/postgres:12.3-alpine
    initContainerImagePullPolicy: Always
    initDBCreation: true
  ## certificates added to this secret will be copied to $JFROG_HOME/<product>/var/etc/security/keys/trusted directory
  customCertificates:
    enabled: false
    # certificateSecretName:

  customInitContainersBegin: |
    {{ template "initdb" . }}
  customVolumes: |
    {{ template "initdb-volume" . }}

## This Postgresql is used by all products , set postgresql.enabled: false, when you want to use external postgresql for all products
postgresql:
  enabled: true
  image:
    repository: bitnami/postgresql
    tag: 12.5.0-debian-10-r25
  postgresqlUsername: postgres
  postgresqlPassword: postgres
  postgresqlExtendedConf:
    max_connections: 1000
    max_wal_size: 1000MB
  persistence:
    size: 500Gi

## This Rabbitmq is used by Xray and Pipelines only, set rabbitmq.enabled: false, when Xray or Pipelines is not enabled
rabbitmq:
  enabled: true
  image:
    repository: bitnami/rabbitmq
    tag: 3.8.9-debian-10-r58
  auth:
    username: admin
    password: password
    erlangCookie: secretcookie
  maxAvailableSchedulers: null
  onlineSchedulers: null
  persistence:
    size: 50Gi
  extraEnvVars:
    - name: RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS
      value: "+S 2:2 +sbwt none +sbwtdcpu none +sbwtdio none"
  extraSecrets:
    load-definition:
      load_definition.json: |
        {
          "vhosts": [
            {
              "name": "xray"
            }
          ],
          "permissions": [
          {
            "user": "admin",
            "vhost": "xray",
            "configure": ".*",
            "write": ".*",
            "read": ".*"
          }
          ],
          "policies": [
            {
              "name": "ha-all",
              "apply-to": "all",
              "pattern": ".*",
              "vhost": "xray",
              "definition": {
                "ha-mode": "all",
                "ha-sync-mode": "automatic",
              }
            }
          ]
        }
  loadDefinition:
    enabled: true
    existingSecret: load-definition
  extraConfiguration: |
    management.load_definitions = /app/load_definition.json

## This Redis is used by pipelines only, set redis.enabled: false, when pipelines is not enabled
redis:
  enabled: true
  image:
    repository: bitnami/redis
    tag: 6.0.9-debian-10-r39
  cluster:
    enabled: false
  usePassword: false

artifactory:
  ## Note: Set haEnabled flag(global section) to false, if you are using artifactory chart.
  enabled: false
  postgresql:
    enabled: false
  waitForDatabase: false
  database:
    type: postgresql
    driver: org.postgresql.Driver
    url: '{{ include "database.url" . }}'
    user: artifactory
    password: artifactory
  artifactory:
    migration:
      enabled: false
    persistence:
      size: 200Gi
    # license:
    #   secret:
    #   dataKey:

artifactory-ha:
  ## Note: Set haEnabled flag(global section) to true, if you are using artifactory-ha chart.
  enabled: true
  postgresql:
    enabled: false
  waitForDatabase: false
  database:
    type: postgresql
    driver: org.postgresql.Driver
    url: '{{ include "database.url" . }}'
    user: artifactoryha
    password: artifactoryha
  artifactory:
    ## For artifactory pro license (supports single node only), enable node replicaCount=0
    # node:
    #   replicaCount: 0
    migration:
      enabled: false
    persistence:
      size: 200Gi
    # license:
    #   secret:
    #   dataKey:

xray:
  enabled: true
  unifiedUpgradeAllowed: true
  postgresql:
    enabled: false
  database:
    url: '{{ include "database.url" . }}'
    user: xray
    password: xray
  common:
    persistence:
      size: 200Gi
    rabbitmq:
      connectionConfigFromEnvironment: false
  rabbitmq-ha:
    enabled: false
  rabbitmq:
    enabled: false
    external:
      username: admin
      password: password
      url: "amqp://{{ .Release.Name }}-rabbitmq:5672/xray"
      erlangCookie: secretcookie

distribution:
  enabled: true
  unifiedUpgradeAllowed: true
  postgresql:
    enabled: false
  database:
    url: '{{ include "database.url" . }}'
    user: distribution
    password: distribution


mission-control:
  enabled: true
  unifiedUpgradeAllowed: true
  postgresql:
    enabled: false
  database:
    url: '{{ include "database.url" . }}'
    user: mc
    password: mc
    name: '{{ include "database.name" . }}'

pipelines:
  enabled: true
  unifiedUpgradeAllowed: true
  postgresql:
    enabled: false
  global:
    postgresql:
      host: "{{ .Release.Name }}-postgresql"
      port: 5432
      database: "pipelinesdb"
      user: "apiuser"
      password: "pipeline"
  pipelines:
    api:
      externalUrl: http://pipelines.test.com
    www:
      externalUrl: http://pipelines.test.com
    msg:
      uiUserPassword: password
  redis:
    enabled: false
  rabbitmq:
    enabled: false
    internal_ip: "{{ .Release.Name }}-rabbitmq"
    msg_hostname: "{{ .Release.Name }}-rabbitmq"
    port: 5672
    manager_port: 15672
    ms_username: admin
    ms_password: password
    cp_username: admin
    cp_password: password
    root_vhost_exchange_name: rootvhost
    erlang_cookie: secretcookie
    build_vhost_name: pipelines
    root_vhost_name: pipelinesRoot
    protocol: amqp
